body {
    font-family: sans-serif;
}

h1 {
    color: blue;
    font-family: sans-serif;
}

.second-list-item code {
    color: green;
}

code {
    font-family: monospace;
    color: red;
}

li + li {
    background-color: black;
    color: white;
}

ol > li {
    background-color: black;
    color: white;
}