[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
pandas = "*"
"bs4" = "*"
scrapy-splash = "*"
ipython = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.6"
