<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!--
          Create a Form with the following Controls and Validators
          1) Project Name (should not be empty)
          2) Mail (should not be a empty and a valid email)
          3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
          4) Submit Button

          Add your own Validator which doesn't allow "Test" as a Project Name

          Also implement that Validator as an async Validator (replace the other one)

          Upon submitting the form, simply print the value to the console
      -->
      <form [formGroup]="myForm" (submit)="onSubmit()">
        <div class="form-group">
          <label for="name">Project Name</label>
          <input type="text"
                 id="name"
                 formControlName="name"
                 class="form-control">
          <span
            *ngIf="!myForm.get('name').valid && myForm.get('name').touched"
            class="help-block">
              <span
                *ngIf="myForm.get('name').errors['nameIsForbidden']">This username is invalid!</span>
              <span
                *ngIf="myForm.get('name').errors['required']">Please enter a username!</span>
          </span>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email"
                 id="email"
                 formControlName="email"
                 class="form-control">
          <span
            *ngIf="!myForm.get('email').valid && myForm.get('email').touched"
            class="help-block">
            <span
              *ngIf="myForm.get('email').errors['email'] && !myForm.get('email').errors['required']">Please enter a valid email!</span>
            <span
              *ngIf="myForm.get('email').errors['required']">Please enter an email!</span>
          </span>
        </div>
        <div class="form-group">
          <label for="status">Status</label>
          <select
            class="form-control"
            id="status"
            formControlName="status">
            <option *ngFor="let status of statuses" [value]="status">{{ status }}</option>
          </select>
        </div>
        <span
          *ngIf="!myForm.valid && myForm.touched"
          class="help-block">Please correct the form!</span>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
