.container {
    margin: 20px;
    display: grid;
    grid-template-columns: [hd-start] repeat(4, [col-start] 25% [col-end]) [hd-end];
    grid-template-rows: [hd-start] 5rem [hd-end row-2-start] minmax(10px, 200px) [row-2-end row-3-start] 100px [row-3-end];
    /*grid-column-gap: 20px;*/
    /*grid-row-gap: 10px;*/
    grid-gap: 10px 20px;
    grid-template-areas: "header header header header"
                         "side side main main"
                         "footer footer footer footer";
}

@media (max-width: 40rem) {
    .container {
        grid-template-rows: [hd-start] 5rem [hd-end row-2-start] minmax(10px, 200px) [row-2-end row-3-start] 150px [row-3-end row-4-start] 100px [row-4-end];
        grid-template-areas: "header header header header"
                             "main main main main"
                             "side side side side"
                             "footer footer footer footer";
    }
}

.el1 {
    background: rgba(255, 154, 72, 0.5);
    grid-area: side;
    /*grid-column: col-start 2 / col-end 2;*/
}

.el2 {
    background: rgba(255, 0, 0, 0.5);
    /*grid-column-start: 1;*/
    /*grid-column-end: -1;*/
    /*grid-column: 1 / -1;*/
    /*grid-row: row-2-start / span 1;*/
    grid-area: main;
    z-index: 10;
}

.el3 {
    background: rgba(0, 128, 0, 0.5);
    /*grid-column-start: 3;*/
    /*grid-column-end: span 2;*/
    /*grid-column: 3 / span 2;*/
    /*grid-row: row-1-start / row-2-end;*/
    /*grid-area: row-1-start / 3 / row-2-end / span 2;*/
    grid-area: hd;
}

.el4 {
    background: rgba(0, 4, 255, 0.5);
    grid-area: footer;
}