[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
attrs = "*"
cattrs = "*"
pytest = "*"
pendulum = "*"
requests = "*"
alembic = "*"
sqlalchemy = "*"
sqlalchemy-repr = "*"
"psycopg2-binary" = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.6"
