[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
attrs = "*"
cattrs = "*"
pytest = "*"
pendulum = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.6"
