<h1>{{title}}</h1>
<p>This application is served via AWS Lambda!</p>
<p>More info can be found here: <a href="https://github.com/awslabs/aws-serverless-express">https://github.com/awslabs/aws-serverless-express</a>!</p>
