main {
    padding-top: 1rem;
}

.signup-title {
    text-align: center;
    font-size: 1.8rem;
    color: #ff5454;
}

.signup-form {
    padding: 1rem;
}

.signup-form label {
    font-weight: bold;
}

.signup-form label,
.signup-form input,
.signup-form select {
    display: block;
    margin-top: 1rem;
    width: 100%;
}

/* .signup-form input[type="checkbox"] */
.signup-form input[id*="terms"],
.signup-form label[for*="terms"]  {
    display: inline-block;
    width: auto;
}

.signup-form input,
.signup-form select {
    border: 1px solid #ccc;
    padding: 0.2rem 0.5rem;
    font: inherit;
}

.signup-form input:focus,
.signup-form select:focus {
    outline: none;
    background: #d8f3df;
    border-color: #2ddf5c;
}

.signup-form button {
    display: block;
    margin-top: 1rem;
}

@media(min-width: 40rem) {
    .signup-form {
        width: 25rem;
        margin: auto;
    }
}